- name: Install Critical, Security, and Update Rollups
  ansible.windows.win_updates:
    category_names: "*"
    reboot: yes
    reboot_timeout: 7200
    reject_list:
      - 5019081
      - 4052623
      - 5034439
      - 2267602 # (maybe) causing an update loop
      - 890830 # (maybe) causing an update loop
      - 5070881 # (maybe) causing an update loop
      - 5007651 # (maybe) causing an update loop
    skip_optional: true
